	/*.scrollmenu{
		flex: 1;
		background-color: #333;
		overflow: auto;
		width: 100%;
		white-space: nowrap;
		padding: 8px;
		display: block;
		position: sticky;
		top: 0;
		flex-direction: column;
	}*/
	@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

	:root {
	  background: rgba(0, 0, 1, .85);
	}

	*, *::before, *::after {
	  box-sizing: border-box;
	}

	body {
		margin: 0;
		background: white;
		font-family: 'Work Sans', sans-serif;
		font-weight: 400;
		height: 2000px;
	}

	.content {
	  height: 200vh;
	  background-image: url(//unsplash.it/1000/1000);
	  background-color: #333;
	  background-blend-mode: multiply;
	  background-size: cover;
	  display: grid;
	  place-items: center;
	}

	/* navigation styles start here */

	header {
	  /*background: var(background);*/
	  text-align: center;
	  position: fixed;
	  z-index: 999;
	  width: 100%;
	}

	.nav-toggle {
	  display: none;
	}

	.nav-toggle-label {
	  position: absolute;
	  top: 0;
	  left: 0;
	  margin-left: 1em;
	  height: 100%;
	  display: flex;
	  align-items: center;
	}

	.nav-toggle-label span,
	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
	  display: block;
	  background: white;
	  height: 2px;
	  width: 2em;
	  border-radius: 2px;
	  position: relative;
	}

	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
	  content: '';
	  position: absolute;
	}

	.nav-toggle-label span::before {
	  bottom: 7px;
	}

	.nav-toggle-label span::after {
	  top: 7px;
	}

	nav {
	  position: absolute;
	  text-align: left;
	  top: 100%;
	  left: 0;
	  /*background: var(--background);*/
	  width: 100%;
	  transform: scale(1, 0);
	  transform-origin: top;
	  transition: transform 400ms ease-in-out;
	}

	nav ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}

	nav li {
	  margin-bottom: 1em;
	  margin-left: 1em;
	}

	nav a {
	  color: white;
	  text-decoration: none;
	  font-size: 1.2rem;
	  text-transform: uppercase;
	  opacity: 0;
	  transition: opacity 150ms ease-in-out;
	}

	nav a:hover {
	  color: #000;
	}

	.nav-toggle:checked ~ nav {
	  transform: scale(1,1);
	}

	.nav-toggle:checked ~ nav a {
	  opacity: 1;
	  transition: opacity 250ms ease-in-out 250ms;
	}

	@media screen and (min-width: 800px) {
	  .nav-toggle-label,.container {
	    display: none;
	  }

	  header {
	    display: grid;
	    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	  }
	  
	  .logo {
	  	color:white;
	    grid-column: 2 / 3;
	  }
	  
	  nav {
	    /*all: unset;*/
	    grid-column: 3 / 4;
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
	  }
	  
	  nav ul {
	    display: flex;
	  }
	  
	  nav li {
	    margin-left: 3em;
	    margin-bottom: 0;
	  }
	  
	  nav a {
	    opacity: 1;
	    position: relative;
	  }
	  
	  nav a::before {
	    content: '';
	    display: block;
	    height: 5px;
	    background: black;
	    position: absolute;
	    top: -.75em;
	    left: 0;
	    right: 0;
	    transform: scale(0, 1);
	    transition: transform ease-in-out 250ms;
	  }
	  
	  nav a:hover::before {
	    transform: scale(1,1);
	  }
	}
	.image1{
		width: 100%;
		/*max-width: 400px;*/
		height: auto;
	}


	 a{
		display: inline-block;
		color: white;
		text-align: center;
		padding: 20px;
		text-decoration: none;
		/*margin-left: 20px;*
		flex: 1;
		/*position: fixed;*/
	}
	a:hover{
		background-color: #777;
	}

	/*@media screen and (max-width: 500px){
		a{
			flex: 1 1 auto;
			display: block;
			text-align: left;
		}
	}*/
	.abt{
		flex: 1;
		position: relative;
		flex-direction: column;
	}
	@media only screen and (max-width: 620px){
	 .col-container, .footer{
			width: 100%;
		}
		/*.scrollmenu a{
			flex: 1;
			display: block;
			text-align: left;
		}
		.abt{
			flex:1;
			display:block;
			text-align: left;
		}*/
	}
	.col-container{
		display: flex;
		width:100%;
		flex-wrap: wrap;
	}
	@media screen and (min-width: 80px) {
	  .col-container{
	    display: flex;
	    width:100%;
	   
	  }

	.col1,.col2,.col3,.sec{
		flex-grow: 1;
		flex-shrink: 1;
		padding: 10px;
		margin: 0;
		color: inherit;
		justify-content: center;
		text-decoration: none;
		font-size: 20px;
		flex-wrap: wrap;
	}
	.content1{
		margin-left: 75px;
	}
	.col1{
		flex:1;
	}
	.col2{
		flex:1;
	}
	.col3{
		flex:1;
		font-family: sans-serif;
	}
	.col1,.col2,.col3 a{
		font-family: sans-serif;
		font-size: 20px;
	}
	.sec{
		display: flex;
		width:100%;
		flex-wrap: wrap;

	}
	.icons{
		align-items: center;
	}
	/*.c1{
		flex-grow: 1;
		flex-shrink: 1;
		padding: 10px;
		margin: 0;
		color: white;
		justify-content: space-around;
		text-decoration: none;
		font-size: 20px;
		flex-wrap: wrap;
		width: 100%;
	}*/
	.image4,.img5,.img6{
		vertical-align: middle;
		border: 0;
	}
	.myslides{
		max-width: 100%;
		padding-left: 40px;
	}
	#m{
		color: white;
		font-size: 4px;
		display: flex;
		flex-wrap: wrap;
	}
	.box1 {
		color: white;
		
	}
	.cnt1{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.c1,.c2,.c3 a{
		font-family: sans-serif;
		font-size: 20px;
	}
	.h33{
		flex-grow: 1;
		flex-shrink: 1;
		padding: 10px;
		justify-content: space-around;
		flex-wrap: wrap;
		position:relative;
		font-family: sans-serif;
		margin: 0;
		width:100%;
		color: white;

	}
	h2{
		text-align:center;
		display: flex;
		flex-wrap: wrap;
	}
	h1{
		display: flex;
		text-align: left;
		font-family: sans-serif;
		font-weight: 500;
		line-height: 1.1;
		font-size: 20px;
	}
	h3{
		color: #ab182c;
		text-align: center;
		font-size: 80px;
	}
	form {
	    border: 4px solid #f1f1f1;
	}

	.container {
	    padding: 25px;
	    background-color: white;
	    display: flex;
	    flex-wrap: wrap;
	}


	input[type=text], input[type=submit] {
	    width: 50%;
	    padding: 12px;
	    margin: 50px 0;
	    display: inline-block;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	    justify-content: center;
	    /*text-align: center;*/
	    /*margin-left: 320px;*/
	    flex-wrap: wrap;
	}

	input[type=submit] {
	    background-color: #ab182c;
	    color: white;
	    border-color: #ab182c;
	    border: none;
	}

	input[type=submit]:hover {
	    opacity: 0.8;
	}
	.icon-bar {
	  position: fixed;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  padding: 0px;
	  margin: 0px;

	}


	.icon-bar a {
	  display: block;
	  text-align: center;
	  padding: 20px;
	  transition: all 0.3s ease;
	  color: white;
	  font-size: 20px;
	  flex-wrap: wrap;
	}


	.icon-bar a:hover {
	  background-color: #000;
	}

	.facebook {
	  background: #3B5998;
	  color: white;
	}

	.twitter {
	  background: #55ACEE;
	  color: white;
	}

	.google {
	  background: #dd4b39;
	  color: white;
	}

	.linkedin {
	  background: #007bb5;
	  color: white;
	}

	.youtube {
	  background: #bb0000;
	  color: white;
	}
	.footer{
		/*position: fixed;*/
		display: flex;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: black;
		color: white;
		padding: 16px;
		margin-top: 10px;
		height:auto;
		flex-wrap: wrap;
		overflow: hidden;
	}

}
